table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--white);
  color: var(--grey-dark);
  border: 1px solid var(--grey);
}

thead {
  font-size: var(--font-size-large);
}

th {
  font-weight: normal;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

tr:hover {
  background-color: var(--grey-lighter);
}

input[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  accent-color: var(--blue-accent);
}

.selectable {
  cursor: pointer;
}

.selected {
  background-color: var(--grey-light);
}

.select-all-col {
  width: 3.125rem;
}

.selected-count {
  font-size: var(--font-size-large);
}
